/* .sliderbox{
    width: 98%;
    margin-bottom: 20px;
    margin-left:5px;
    
}
.slide_image{
    width: 100%;
    padding: 5px;
    border-radius: 15px;
}
.banner{
    width: 100%;
    
}
.banner img{
    width: 100%;
}
.sliderbox2{
    padding: 30px;
    text-align: center;
    cursor: pointer;
}
.designofweek {
   width: 100%;
   display: flex;
   height:auto;
   margin: auto;  
}
.designofweek img{
    width: 100%;
    height: auto;
}
 */
