.newarrivalsmp{
    width:98%;
    margin-left:6px;
    padding: 10px;
    background-image: url(https://cdn5.vectorstock.com/i/1000x1000/86/64/abstract-blue-wave-set-on-transparent-background-vector-10778664.jpg);

}
.mainsnglerwfds{
    
    padding: 10px;
}
.newAtext{
    text-align: center;
    font-size: 25px;
}
.explore{
    text-align: center;
    color: blueviolet;
    text-decoration: underline;
    margin: 10px;
}
.gangs{
    
    text-align: center;
    margin-bottom: 20px;
}
.gangstext{
    text-align: center;
    font-size: 25px;
    padding: 10px;
}
.gangsImage > img{
    
    width:100%;
   
  
}
.gangsImage{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}

.cattext{
    
    height: 10px;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
}

   
