.popular h1{
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 20px;
}
.boys{
    display: flex;
    justify-content: space-between;
}
.girls{
    display: flex;
    justify-content: space-between;
} 
