 .popular h1{
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 20px;
    color: brown;
    font-weight: bold;
}
.boys{
    display: flex;
    justify-content: space-between;
}
.girls{
    display: flex;
    justify-content: space-between;

}
.newarrival{
    border: 1px solid red;
    height: 500px;
}

} 

