.slider{
    height:150px;
    margin:auto;
    position:relative;
    width:90%;
    display: grid;
    place-items: center;
    overflow: auto;
  }
  
  .slide-track{
    display: flex;
    width:calc(250px*10);
    animation: scroll 20s linear infinite;
    /* border-radius: 10px; */
  
  }
  .slide{
    height:200px;
    width: 250px;
    display: flex;
    align-items:center;
    padding: 15px;
    perspective: 100px;
  }
  img{
    width:100%;
    border-radius: 10px;
  }
  img:hover{
    transform: translateZ(20px);
  }
  .slider::before,.slide::after{
    /* background: linear-gradient(to right,rgba(255,255,255,1)0%,rgba(255,255,255,0)100%); */
    content: "";
    height: 100%;
    position:absolute;
    width:15%;
    z-index: 2;
  }
  .slider::before{
    left: 0;
    top:0;
  }
  .slide::after{
    right:0;
    top:0;
    transform: rotateZ(180deg);
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes scroll {
    0%{
      transform: translateX(0);
  
    }
    100%{
      transform: translateX(calc(-250px*2));
    }
  }
  