.main{
       border-right: 1px solid grey;
    position: sticky;
    top: 10%;
}
.main>div{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-left: 5px;
 
}

.main *{
    cursor: default;
}

.filterMain{
    padding-bottom: 15px;
}

.filterMain p{
    font-size: 14px;
    width: 95%;
    margin: auto;
}
/*........................*/
.main>div:first-child>p{
    font-size: 12px;
    color: gray;
    margin: 12px 5px 12px 0px; 
 }
 .main>div:first-child{
     display: flex;
     justify-content: space-between;
 }
/*........................*/

.filterMain p:hover{
    background-color: rgba(204, 204, 204, 0.267);
}

.filterMain ul{
display: grid;
font-size: 14px;
grid-template-columns: repeat(1,1fr);
gap: 10px;
color: grey;
}

.setRadio{

font-size: 14px;
width: 90%;
margin:14px auto;
color: grey;
display: grid;
grid-template-columns: repeat(1,1fr);
gap: 10px;
}

.includeFilters{
    color:#42a2a2 !important;
}
.DisplayHidden{
    display: none;
}
input {
    accent-color: #42a2a2;
}
