 .productsDivprdasdfsd{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px 20px;
    width: 100%;
}

.nav-category1{
    display: none;
}


@media only screen and (max-width: 580px) {
    .productsDivprdasdfsd{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px 20px;
    }
    
    } 