 
.main{
    padding:10px 100px;
    color: #2d2d2d;

}


.location{

    display: flex;
    font-size: 12px;
    line-height: 12px;
    padding: 12px 0px;
    padding-left: 5px;
   
    
}

.location p{
    display: flex;
    gap:10px;
}
.headingDiv{
   font-weight: 700;
   width: max-content;
	position: relative;
    margin-top: 25px;
    margin-bottom: 35px;
    font-size: 32px;


}



.headingDiv:before, .headingDiv:after {
    content: '';
    display: block;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
}



.headingDiv:after {
    left: 2px;
    right: 60%;
    bottom: -5%;
    border-bottom: 2px solid #fbd139; 
 
}

.headingDiv h1{
    margin: 0px;
    margin-bottom: 8px;

}

.headingDiv span{
  color: #949494;
  font-size: 32px;
  font-weight: 300 ;
}

.mainStore{
    padding-left: 5px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 20% 78%;
    justify-content: space-between;
}

.mainStore>div{
  position: sticky;
  top: 10%;
  
}
.mainStore>:last-child{
padding: 20px;
}


.scrollTOpFADS{
    top: 90%;
    right: 2%;
    position: fixed;
   cursor: pointer;
   

    
}
.scrollTOpFADSNone{
    display: none;
}

.scrollTOpFADS i{
    font-size: 32px;
    border-radius: 50px;
    padding: 5px 10px;
    background-color: #f3f3f3;
   color: #c09701;
   box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 18px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


@media only screen and (max-width: 1075px) {
    .main{
        padding:10px 70px;
        color: #2d2d2d;
    
    }
    .mainStore{
        grid-template-columns: 18% 82%;
      
    }
    .mainStore>:last-child{
        padding-right: 0px;
    }
    
    
    
}

@media only screen and (max-width: 820px) {
    .main{
        padding:10px 60px;
        color: #2d2d2d;
    
    }
    .mainStore{
        grid-template-columns: 25% 75%;
      
    }
    .mainStore>:last-child{
        padding-right: 0px;
    }
    
    
    
}

@media only screen and (max-width: 780px) {
    .main{
        padding: 10px 30px;
    }
.mainStore{
    grid-template-columns: repeat(1,1fr);
    width: 100%;
}

.mainStore>:first-child{
    display: none;

}
.mainStore>:last-child{
    padding: 0px;
}

.headingDiv{
margin: auto;
font-size: 24px;
width: max-content;
}

.headingDiv span{
    font-size: 22px;
}
.mainStore{
    padding: 0px;
}
}

