
.main{
    padding:10px 100px;
    color: #2d2d2d;

}


.location{
    display: flex;
    font-size: 12px;
    line-height: 12px;
    padding: 12px 0px;
    padding-left: 5px;
   
    
}

.location p{
    display: flex;
    gap:10px;
}

.headingDiv{
   font-weight: 700;
   width: max-content;
	position: relative;
    margin-top: 25px;
    margin-bottom: 35px;


}


.headingDiv:before, .headingDiv:after {
    content: '';
    display: block;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
}



.headingDiv:after {
    left: 2px;
    right: 60%;
    bottom: -5%;
    border-bottom: 2px solid #fbd139; 
 
}
.headingDiv h1{
    margin: 0px;
    margin-bottom: 8px;
}
.headingDiv span{
  color: #949494;
  font-weight: 300 ;
}

.mainStore{
    padding-left: 5px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 20% 78%;
    justify-content: space-between;
}

.mainStore>div{
    border: 1px solid;
  position: sticky;
  top: 10%;
  
}

.mainStore>:last-child{
padding: 20px;
}

.scrollTOpFADS{
    top: 90%;
    right: 2%;
    position: fixed;
   cursor: pointer;
   

    
}
.scrollTOpFADSNone{
    display: none;
}
.scrollTOpFADS i{
    font-size: 32px;
    border-radius: 50px;
    padding: 5px 10px;
    background-color: #f3f3f3;
   color: #c09701;
   box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 18px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

